language: node_js
node_js:
  - 0.12
before_install:
  - npm install -g bower
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 1
script:
  - ./node_modules/.bin/gulp test-all-versions
sudo: false
